In [3]:
'''
Name:-Sanskruti Vinayak Jawale
Roll No:-66
Batch:-T3
Assignment No:-1 (EDA report generation and Data cleaning)
'''
import pandas as pd
data = pd.read_csv("dataset.csv").convert_dtypes()

In [4]:
data.head()

,Year,Economy,Economy Label,Absolute value in thousands,Absolute value in thousands Missing value,Urban population as percentage of total population,Urban population as percentage of total population Missing value
0,1950,1,Individual economies,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE
1,1950,4,Afghanistan,7480.461,0,6,94
2,1950,8,Albania,1252.582,0,20.52805,79.47195
3,1950,12,Algeria,9019.866,0,22.2132,77.7868
4,1950,16,American Samoa,19.032,0,61.76874,38.23126

In [5]:
data.columns

Index(['Year', 'Economy', 'Economy Label', 'Absolute value in thousands',
       'Absolute value in thousands Missing value',
       'Urban population as percentage of total population',
       'Urban population as percentage of total population Missing value'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31571 entries, 0 to 31570
Data columns (total 7 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Year                                                              31571 non-null  Int64
 1   Economy                                                           31571 non-null  Int64
 2   Economy Label                                                     31571 non-null  string
 3   Absolute value in thousands                                       31571 non-null  string
 4   Absolute value in thousands Missing value                         31571 non-null  string
 5   Urban population as percentage of total population                31571 non-null  string
 6   Urban population as percentage of total population Missing value  31571 non-null  string
dtypes: Int64(2), string(5)
memory usage: 1.7 MB

In [7]:
data.loc[data.isna().any(axis="columns")]

Empty DataFrame
Columns: [Year, Economy, Economy Label, Absolute value in thousands, Absolute value in thousands Missing value, Urban population as percentage of total population, Urban population as percentage of total population Missing value]
Index: []

In [8]:
#count of valuse
data["Economy"].value_counts()

1       101
275     101
756     101
438     101
757     101
       ...
348     101
340     101
336     101
332     101
5310     59
Name: Economy, Length: 313, dtype: Int64

In [9]:
data["Economy Label"].value_counts()

Individual economies                                 101
Argentina                                            101
Algeria                                              101
American Samoa                                       101
Andorra                                              101
                                                    ...
European Union (2020 …)                              101
G20 (Group of Twenty)                                101
G-77 (Group of 77)                                   101
OECD (Organisation for Economic Cooperation an...    101
Central Asia                                          59
Name: Economy Label, Length: 313, dtype: Int64

In [10]:
#description of values
data[["Economy Label", "Absolute value in thousands"]].describe()

               Economy Label Absolute value in thousands
count                  31571                       31571
unique                   313                       28488
top     Individual economies              NOT APPLICABLE
freq                     101                        2545

In [11]:
#Removing Duplicate Data
data.loc[data.duplicated(keep=False)]

Empty DataFrame
Columns: [Year, Economy, Economy Label, Absolute value in thousands, Absolute value in thousands Missing value, Urban population as percentage of total population, Urban population as percentage of total population Missing value]
Index: []

In [12]:
data.loc[data.isna().any(axis="columns")]

Empty DataFrame
Columns: [Year, Economy, Economy Label, Absolute value in thousands, Absolute value in thousands Missing value, Urban population as percentage of total population, Urban population as percentage of total population Missing value]
Index: []

In [13]:
data[["Absolute value in thousands Missing value", "Urban population as percentage of total population"]].describe()

,Absolute value in thousands Missing value,Urban population as percentage of total population
count,31571,31571
unique,2,27191
top,0,NOT APPLICABLE
freq,29026,2545

In [ ]:
In [36]: data.to_csv("dataset.csv", index=False)

:

In [15]:
data.head()

,Year,Economy,Economy Label,Absolute value in thousands,Absolute value in thousands Missing value,Urban population as percentage of total population,Urban population as percentage of total population Missing value
0,1950,1,Individual economies,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE
1,1950,4,Afghanistan,7480.461,0,6,94
2,1950,8,Albania,1252.582,0,20.52805,79.47195
3,1950,12,Algeria,9019.866,0,22.2132,77.7868
4,1950,16,American Samoa,19.032,0,61.76874,38.23126

In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('dataset.csv')
df.head()

,Year,Economy,Economy Label,Absolute value in thousands,Absolute value in thousands Missing value,Urban population as percentage of total population,Urban population as percentage of total population Missing value
0,1950,1,Individual economies,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE
1,1950,4,Afghanistan,7480.461,0,6,94
2,1950,8,Albania,1252.582,0,20.52805,79.47195
3,1950,12,Algeria,9019.866,0,22.2132,77.7868
4,1950,16,American Samoa,19.032,0,61.76874,38.23126

In [18]:
#unique values
df['Absolute value in thousands'].is_unique

False

In [19]:
df['Economy'].is_unique

False

In [20]:
#data value at specific index
df.loc[206]

Year                                                                              1950
Economy                                                                            275
Economy Label                                                       State of Palestine
Absolute value in thousands                                                    944.807
Absolute value in thousands Missing value                                            0
Urban population as percentage of total population                            37.29998
Urban population as percentage of total population Missing value              62.70002
Name: 206, dtype: object

In [21]:
df.loc[1905:, 'Absolute value in thousands'].head(10)

1905     4530.885
1906     2544.258
1907      197.459
1908     5051.841
1909     4753.921
1910    16167.047
1911        8.204
1912     1570.453
1913     2807.901
1914     7480.649
Name: Absolute value in thousands, dtype: object

In [22]:
#null data and its percentage
df['Absolute value in thousands Missing value'].isnull().sum() / len(df)

0.0

In [23]:
df.head()

,Year,Economy,Economy Label,Absolute value in thousands,Absolute value in thousands Missing value,Urban population as percentage of total population,Urban population as percentage of total population Missing value
0,1950,1,Individual economies,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE,NOT APPLICABLE
1,1950,4,Afghanistan,7480.461,0,6,94
2,1950,8,Albania,1252.582,0,20.52805,79.47195
3,1950,12,Algeria,9019.866,0,22.2132,77.7868
4,1950,16,American Samoa,19.032,0,61.76874,38.23126

In [24]:
df['Absolute value in thousands Missing value'].isnull().sum() / len(df)

0.0

In [25]:
#null values
df['Absolute value in thousands Missing value'].isna().sum() / len(df)

0.0

In [26]:
df['Urban population as percentage of total population'].isna().sum() / len(df)

0.0